# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# VS Code files
.vscode/

# Python compiled files
__pycache__/
*.pyc

# Local/temp files
*~
*.swp

# Media/binary data (if you don't want to upload large files)
*.mp3
*.pcm

